$topBar: rgb(229, 238, 240);
$topBarRight:#D9E3E5;
$line: #d8e3e6;
$menuFont: #a1aeb3;
$hover: #29c2e1;
$bannerBG: #8d8d8d;
$slider:#afafaf;
$startUpP:#23282f;
$startUpH2:#55595f;
$row:#e5eef0;
$rowHover:#f7941d;
$icon:#231f20;
$iconHover: #fff9f2;
$startUpRowH1: #6c6f74;
$authorOrange: #F5A24C;
$littleCircles:#B3CACF;
$bigtriangle:#f69b37;
$pricing: #e6edee;